* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  /*css background color palette*/
  /*https://coolors.co/gradient-palette/2b0948-ce653b?number=7*/
  background: hsla(272, 78%, 16%, 1);
  background: linear-gradient(90deg, hsla(272, 78%, 16%, 1) 0%, hsla(17, 60%, 52%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(272, 78%, 16%, 1) 0%, hsla(17, 60%, 52%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(272, 78%, 16%, 1) 0%, hsla(17, 60%, 52%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2b0948", endColorstr="#ce653b", GradientType=1 ); /* Chrome 10-25, Safari 5.1 -6 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section{
  display: grid;
  grid-template-columns: repeat(4, 8rem);
 grid-template-rows: repeat(4, 8rem);
}

.face,
.back{
  width: 100%;
  height: 100%;
}